In [62]:
import pandas as pd
import glob
#return all files in "sheets" folder using *
file_list= glob.glob(r"C:\Users\HP\Desktop\sheets/*")
file_list

['C:\\Users\\HP\\Desktop\\sheets\\sheet1.xlsx',
 'C:\\Users\\HP\\Desktop\\sheets\\sheet2.xlsx',
 'C:\\Users\\HP\\Desktop\\sheets\\sheet3.xlsx']

In [63]:
#combine all files
files = []
for filename in file_list:
    df = pd.read_excel(filename)
    files.append(df)
frame = pd.concat(files, axis=0, ignore_index=True)

In [64]:
frame

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Burundi,Meat,Online,L,2010-05-22,194350135,2010-06-05,1379,421.89,364.69,581786.31,502907.51,78878.80
1,Asia,Malaysia,Household,Online,L,2013-04-12,242353951,2013-04-13,6775,668.27,502.54,4527529.25,3404708.50,1122820.75
2,Central America and the Caribbean,Haiti,Vegetables,Offline,C,2012-10-17,831722819,2012-10-26,4120,154.06,90.93,634727.20,374631.60,260095.60
3,Europe,Liechtenstein,Cosmetics,NaN,L,2012-07-15,229693067,2012-07-15,138,437.20,263.33,60333.60,36339.54,23994.06
4,Sub-Saharan Africa,Zambia,Cereal,Offline,H,2013-05-19,373813521,2013-06-15,8583,205.70,117.11,1765523.10,1005155.13,760367.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Middle East and North Africa,Lebanon,Fruits,Online,H,2013-04-05,441150701,2013-05-12,5150,9.33,6.92,48049.50,35638.00,12411.50
4996,Europe,Czech Republic,Cereal,Online,M,2011-07-08,552037513,2011-08-05,9022,205.70,117.11,1855825.40,1056566.42,799258.98
4997,Australia and Oceania,Vanuatu,Cosmetics,Offline,C,2012-02-24,504240548,2012-03-27,4838,437.20,263.33,2115173.60,1273990.54,841183.06
4998,Europe,Luxembourg,Vegetables,Offline,L,2010-02-13,744683635,2010-04-01,7291,154.06,90.93,1123251.46,662970.63,460280.83
4999,Sub-Saharan Africa,Benin,Personal Care,Online,L,2016-08-07,440603101,2016-09-15,3104,81.73,56.67,253689.92,175903.68,77786.24

In [ ]:
#save frame as an excel file

In [65]:
frame.to_excel(r"C:\Users\HP\Desktop\frame.xlsx",index =False)